# Ignore Quartus building data
# Global data
~/db/
~/incremental_db/
~/output_files/
~/simulation/

~/*.v.bak
~/*.bak
~/*.rpt

# Local data
db/
incremental_db/
output_files/
simulation/

*.v.bak
*.bak
*.rpt